<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabrielvilarouca.carinhadeanjo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".lista_aviso"
            android:exported="false" />
        <activity
            android:name=".colocar_aviso"
            android:exported="false" />
        <activity
            android:name=".aviso_importante"
            android:exported="false" />
        <activity
            android:name=".novo_aluno"
            android:exported="false" />
        <activity
            android:name=".gerenciar"
            android:exported="false" />
        <activity
            android:name=".entrar_dois"
            android:exported="false" />
        <activity
            android:name=".atualizacao"
            android:exported="false" />
        <activity
            android:name=".enviar_pdf"
            android:exported="false" />
        <activity android:name=".lista_ano" />
        <activity android:name=".cordena_alunos" />
        <activity android:name=".coordena" />
        <activity android:name=".view_pdf" />
        <activity android:name=".chat" />
        <activity android:name=".click_feed" />
        <activity
            android:name=".enviar_foto"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.camera.action.CROP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".agenda_turma" />
        <activity android:name=".tela_do_aluno_prof" />
        <activity android:name=".tela_de_alunos" />
        <activity android:name=".tela_da_professora" />
        <activity android:name=".lista_tres" />
        <activity android:name=".lista_dois" />
        <activity android:name=".lista_um" />
        <activity android:name=".agenda" />
        <activity android:name=".tela_do_aluno" />
        <activity android:name=".termos_de_uso" />
        <activity android:name=".tela_de_carregamento" />
        <activity android:name=".entra" />
        <activity android:name=".registrar" />
        <activity
            android:name=".login_or_register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="face" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>