<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carinhadeanjo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".tela_da_professora"></activity>
        <activity android:name=".lista_tres" />
        <activity android:name=".lista_dois" />
        <activity android:name=".lista_um" />
        <activity android:name=".agenda" />
        <activity android:name=".tela_do_aluno" />
        <activity android:name=".termos_de_uso" />
        <activity android:name=".tela_de_carregamento" />
        <activity android:name=".entra" />
        <activity android:name=".registrar" />
        <activity android:name=".login_or_register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>